#col-id{
  width: 5%;
}

#col-description{
  width: 40%;
}

/* #col-name{
  width: 10%;
}

#col-owner{
width: 10%;
} */

#col-address{
  width: 17%;
}

/* #col-enabled{
width: 5%;
} */

#col-action{
  width: 14%;  
}
