div.card-body p.card-desc{
  font-size: 0.95rem!important;
}

div.card-body p.card-price{
  font-size: 0.9rem!important;
}

.event-card .card-img-top, .detailCard .card-img {
  height: 400px;
  object-fit: contain;
}

@media (min-width: 576px){
  .event-card .card-img-top {
    height: 236px;
  }
}

@media (min-width: 768px){
  .event-card .card-img-top {
    height: 206px;
  }
}

@media (min-width: 992px){
  .event-card .card-img-top {
    height: 286px;
  }
  .detailCard .card-img{
    height: 289px;
  }
}

@media (min-width: 1200px){
  .event-card .card-img-top {
    height: 346px;
  }
  .detailCard .card-img{
    height: 349px;
  }
}
