#main-navbar{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }

@media(min-width: 576px){
  #main-navbar>div.container{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
}

#main-navbar.navbar-dark .navbar-nav .nav-link{
  color: white;
}
#navbar-menu > ul > li.nav-item.active > .nav-link{
  color: springgreen;
}

#main-footer > div.container  p{
  color: white;
}

#search{
  min-width: 185px;
}

.cart-media, #cart{
    min-width: 276px;
  }

@media (min-width: 345px){
  .cart-media, #cart{
    min-width: 300px;
  }
}

.cart-media:last-child{
  margin-bottom: 0 !important;
}

#cart{
  max-height: 315px;
}

.cart-img{
  height: 64px;
  width: 64px;
  object-fit: cover;
}

#cart-list>ul>li:last-child{
  margin-bottom: 0 !important;
}

#qr-reader>div:first-child{
  display: none;
}
#qr-reader{
  max-width: 750px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 5;

}

.toast-header, .toast{
  background-color: rgb(232, 253, 246);
}

.toast-header{
  color: #4a5157;
}
